/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin:0px;
    padding:0px;
    overflow:hidden;
    background-color: white;
    width: 1466px;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: crimson;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    margin-left: 250px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: dodgerblue;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display:none;}

#image1{
    margin-left: -50px;
}

#nav{
    margin-left: -50px;
}

p{
    margin-top: -470px;
    font-size: 25px;
    font-family: monospace;
    color:navy;
    margin-left: 10px;
}
